<MastHead @shouldFlicker={{true}} />

{{#if this.model.currentReaction}}
  <ReactionInput
    @promptValue={{this.model.currentReaction.prompt.value}}
    @onSet={{this.setReactionAndGoToNext}}
  />
{{/if}}

<ul class="results-list list-reset pt-8 w-lg mx-auto">
  <li>
    <ResultItem @title="Motherhood" @emoji="😤" />
  </li>
  <li>
    <ResultItem @title="Ember Animated" @emoji="🤩" />
  </li>
  <li>
    <ResultItem @title="Bower" @emoji="🤢" />
  </li>
</ul>
