<MastHead />

<div class="question text-yellow text-shadow text-center">
  "Fixed. Once and for all."
</div>

<div class="text-center mt-8">
  {{input class="bg-transparent border-0 border-b-2 border-yellow rounded-none text-2xl outline-none text-center text-yellow font-mono"}}
</div>
