<li class="mx-3 px-3 pt-2 {{if @isActive "border border-yellow rounded"}}">
  <div>
    {{@emoji}}
  </div>
  <div class="text-sm text-yellow">
    {{@shortname}}
  </div>
  <div class="text-sm text-yellow mt-2 font-normal font-sans">
    cmd+{{add 1 @index}}
  </div>
</li>
