<div class="flex text-yellow text-4xl mt-8">
  <div class="flex-auto font-sans">
    {{@reaction.prompt.value}}
  </div>
  <div class="flex-none">
    {{#if @reaction.isReacted}}
      {{@reaction.shortname}}
      <Emoji @shortname={{@reaction.value}} />
    {{/if}}
  </div>
</div>
