<div class="flex items-center h-screen">
  <div class="w-full">
    <MastHead />

    <div class="text-center mt-6">
      <LinkTo @params={{array "games.new"}} class="main-btn bg-yellow text-red no-underline px-8 py-4 text-4xl rounded font-bold mx-auto inline-block uppercase">Press To Init</LinkTo>
    </div>
  </div>
</div>
